@use '@angular/material' as mat;


$light-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$cyan-palette,
  ),
));

$dark-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$cyan-palette,
  ),
));

:root {
  @include mat.all-component-colors($light-theme);
}

html.dark {
  @include mat.all-component-colors($dark-theme);
}
